body {
      background-image: url("superMarket.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      }

h1{
  font-family: tahoma sans-serif;
  text-shadow: 2px 2px #CCC;
}

h2{
  font-family: tahoma sans-serif;
  color: goldenrod;
  text-align: center;
}
#welcome {
  border: solid black;
  background-color: #FFF
}

a{
  text-decoration: none;
  text-align: center;
}

#login {
        border:solid black;
        text-align: center;
        width: 300px;
        height: 120px;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a7cfdf+0,23538a+100;Blue+3d+%238 */
        background: rgb(167,207,223); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(167,207,223,1) 0%, rgba(35,83,138,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 ); /* IE6-9 */
 */
      position: absolute;
      top: 0;
      bottom: 0;
      left:  0;
      right: 0;
      margin:auto;

    }
